  <div class="background">
    <form class="form" action='/artist-search' method='get'>
 
      <label for='artist-name'></label>
      <input type='text' name='artistName' id='artist-name' />

      <button type='submit'>Search for an Artist</button>
    </form>
  </div>
 
 